In [1]:
import pandas as pd

In [12]:
movie_data = pd.read_csv("/Users/fabianzuluagazuluaga/Desktop/Job Applications/recommendation-system/data/ml-latest/movies.csv")
movie_data.head(20)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [13]:
ratings_data = pd.read_csv("/Users/fabianzuluagazuluaga/Desktop/Job Applications/recommendation-system/data/ml-latest/ratings.csv")
ratings_data.head(20)

    userId  movieId  rating   timestamp
0        1        1     4.0  1225734739
1        1      110     4.0  1225865086
2        1      158     4.0  1225733503
3        1      260     4.5  1225735204
4        1      356     5.0  1225735119
5        1      381     3.5  1225734105
6        1      596     4.0  1225733524
7        1     1036     5.0  1225735626
8        1     1049     3.0  1225734079
9        1     1066     4.0  1225736961
10       1     1196     3.5  1225735441
11       1     1200     3.5  1225735861
12       1     1210     4.5  1225735210
13       1     1214     4.0  1225736426
14       1     1291     5.0  1225734809
15       1     1293     2.0  1225733842
16       1     1376     3.0  1225733539
17       1     1396     3.0  1225733534
18       1     1537     4.0  1225736687
19       1     1909     3.0  1225733717

In [16]:
tags_data = pd.read_csv("/Users/fabianzuluagazuluaga/Desktop/Job Applications/recommendation-system/data/ml-latest/tags.csv")
tags_data.head(20)

    userId  movieId                            tag   timestamp
0       10      260                   good vs evil  1430666558
1       10      260                  Harrison Ford  1430666505
2       10      260                         sci-fi  1430666538
3       14     1221                      Al Pacino  1311600756
4       14     1221                          mafia  1311600746
5       14    58559                    Atmospheric  1311530439
6       14    58559                         Batman  1311530391
7       14    58559                     comic book  1311530398
8       14    58559                           dark  1311530428
9       14    58559                   Heath Ledger  1311530404
10      14    58559                   imdb top 250  1311530451
11      14    58559                  Michael Caine  1311530407
12      14    58559                 Morgan Freeman  1311530400
13      14    58559  Oscar (Best Supporting Actor)  1311530432
14      14    58559                     psychology  1311530417
15      14    58559                      superhero  1311530388
16      14    58559                      vigilante  1311530423
17      14    58559                       violence  1311530444
18      16    57183                         family  1491353765
19      26      296                          crime  1429398919